/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

table {
    		    font-family: arial, sans-serif;
    		    border-collapse: collapse;
    		    width: 100%;
    		}
    		td, th {
    		    border: 1px solid #dddddd;
    		    text-align: left;
    		    padding: 8px;
    		}

    		.jumbotron {
    background-color: salmon;
  color: white; 
}

html, body{
  background: -webkit-linear-gradient( bottom , #3aa0d1, #3ad2d1);
background: linear-gradient(to top, #3aa0d1, #3ad2d1);
  height:100%;
  width:100%;
}
h1{
  text-align:Center;
  color:#f1f1f1;
  text-shadow:0 2px 3px #333;
}

a{
	color: white;
	text-decoration-line: underline;
}
